*{
    margin: 0;
    padding: 0;

}
body{
    background-image:"" ;
}

nav{
    background-color: blue;
    color: white;
    padding: 15px;
}
li,h1,ul{
    display: inline;
}
ul{
    margin-left: 60%;
}
li{
    color: red;
    cursor: pointer;
}
li:hover{
    color: white;
}

input{
     width: 50%;
     padding: 15px;    
}

.searchbar{
    padding: 10px;
    text-align: center;
}

.box{
    
    margin: 3%;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    display: inline-block;
    width: 250px;
}
.box:hover{
    background-color: red;
    color: black;
}

.products{
    text-align: right;
}

.about as{
    margin-top: 20px;
    padding: 20px;
   
    
}

 .contanct{
    background-color: black;
    color: white;
    padding: 200px;
    margin: 60%;
 }

